---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import PizzaHero from "~/assets/images/pizza-hero.png";
import Pizza from "~/assets/images/pizza.png";
import Spaghetti from "~/assets/images/spaghetti.png";
import Fish from "~/assets/images/fish.png";
import DecorativeImage from "~/assets/images/pexels-shvetsa-5953523.jpg";
import reviewAuthors from "~/assets/images/review-authors.png";
import Dessert from "~/assets/images/dessert.png";
import Mussels from "~/assets/images/mussels2.png";
import Clase from "~/assets/images/Clases.png";
import Servicio from "~/assets/images/Servicios.png";
import Blog from "~/assets/images/Blog.png";
import Acupuntura from "~/assets/images/1acupuntura.png";
import Tuina from "~/assets/images/2tuina.png";
import Moxa from "~/assets/images/3moxa.png";
import Fito from "~/assets/images/4fitodieto.png";
import Ventosas from "~/assets/images/5ventosas.png";
import Qigong from "~/assets/images/6qigong.png";
import KSP from "~/assets/images/8correcciónpostural.png";

---

<Layout title="Inicio" pageTitle="MartaMTC | Acupuntura,quigong..." description="Bienvenido a la página de Medicina tradicional China de Marta!">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="purple" title="Marta Pulido MTC" />
				<h1 class="font-black">Medicina Tradicional China y mucho más...</h1>

				<span class="text-brand-green font-medium">✔ Mensaje enviado con éxito</span>

				<p>
					Recibirás mi respuesta tan pronto como me sea posible. Gracias.
				</p>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="https://martamtc.github.io/">Volver a inicio</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="Logotipo redondeado en color verde que representa una persona sentada."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>
</Layout>
