---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import PizzaHero from "~/assets/images/pizza-hero.png";
import ClasesHero from "~/assets/images/Clases-hero.png";
import Pizza from "~/assets/images/pizza.png";
import Spaghetti from "~/assets/images/spaghetti.png";
import Fish from "~/assets/images/fish.png";
import DecorativeImage from "~/assets/images/pexels-shvetsa-5953523.jpg";
import reviewAuthors from "~/assets/images/review-authors.png";
import Dessert from "~/assets/images/dessert.png";
import Mussels from "~/assets/images/mussels2.png";
import Clase from "~/assets/images/7técnicasenergéticas.png";
import Servicio from "~/assets/images/Servicios.png";
import Blog from "~/assets/images/Blog.png";
import Acupuntura from "~/assets/images/1acupuntura.png";
import Tuina from "~/assets/images/2tuina.png";
import Moxa from "~/assets/images/3moxa.png";
import Fito from "~/assets/images/4fitodieto.png";
import Ventosas from "~/assets/images/5ventosas.png";
import Qigong from "~/assets/images/6qigong.png";
import KSP from "~/assets/images/8correcciónpostural.png";
---

<Layout title="Clases" pageTitle="MartaMTC | Acupuntura,quigong..." description="Parte en la que presento mis clases de Qi gong y KSP.">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="green" title="Marta Pulido MTC" />
				<h1 class="font-black">Clases</h1>
				<p>
					Clases de Qi Gong y Corrección postura KSP para fortalecer cuerpo y mente.
				</p>
				<!-- <span class="text-brand-green font-medium">✔ We also deliver</span>-->
				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/contact">Contacto</Button>
					<Button url="/book">Reservas</Button>
					<!--<ButtonCallUs />-->
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={ClasesHero}
					height={600}
					formats={["avif", "webp"]}
					alt="Logotipo redondeado en color donde se observan tres personas en clase de gimnasia."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

<!-- Qi Gong -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge color="purple" title="Clases" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Qi Gong</h2>
				<div slot="heading-content">
					<p>
						El Qi Gong o Chi Kung es una práctica milenaria de origen chino que consiste en el cultivo y la práctica de la movilización consciente 
						de la energía por el interior del cuerpo. Se basa en suaves movimientos físicos, ejercicios respiratorios y concentración mental, y tiene 
						como objetivo fortalecer el organismo a nivel físico, mental y espiritual. Practicar Qi Gong generara numerosos beneficios para la salud, 
						como, por ejemplo: la reducción del estrés y la ansiedad, al promover la relajación y el equilibrio emocional, mejorar la digestión al 
						estimular el movimiento intestinal y reducir el estreñimiento, alivio del dolor en músculos y articulaciones...
					</p>

					<p>
						Dirección: Moofit–C/Comandante Benítez, 17–08028 BCN.
					</p>

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Qigong}
					height={600}
					formats={["avif", "webp"]}
					alt="Imagen a color en tonos oscuros de las manos de una persona practicando Qi Gong."
				/>
			</div>
		</Hero>
	</Section>

	<!-- KSP -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge color="purple" title="Clases" />
				<h2 slot="heading-title" class="font-black text-brand h2 !my-4">Corrección Portural KSP</h2>
				<div slot="heading-content">
					<p>
						El Método K-Stretch ® Postural KSP es un método de Reeducación Postural que utiliza una hamaca especial 
						para realizar ejercicios de estiramiento y fortalecimiento muscular. Su objetivo principal es devolver 
						al cuerpo su funcionalidad y eficacia mediante el tratamiento de las cadenas musculares y fasciales. 
						Algunos de sus beneficios son: reequilibrar el tono muscular, mejorar la postura, mejorar la elasticidad 
						muscular y movilidad articular, reducir el dolor, mejorar la circulación y mejorar la condición física 
						en general.
					</p>

					<p>
						Dirección: Moofit–C/Comandante Benítez, 17–08028 BCN.
					</p>

					<div class="mt-8">
						<Button color="purple" url="/book">Reservar</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={KSP}
					height={600}
					formats={["avif", "webp"]}
					alt="Imagen a color que muestra tres bancos en el suelo de un gimnasio listos para practicar una clase de KSP."
				/>
			</div>
		</Hero>
	</Section>
</Layout>
